:root {
	--spacing: 100px;
}

body {
	padding: var(--spacing);
	background-color: rgb(191 47 46);
}

.calendar-container{
    display:flex;
    justify-content: center;

}

.grid-container {
    background-color: rgba(0, 255, 255, 0);
    width: 56vw;
    height: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    justify-content:center;
    gap:20px;

}

.grid-item {
    background-color: rgba(255, 192, 203, 0);
    font-family: "legitima", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    border: solid;
    z-index:100;
    border: solid;
    border-width: 1px;
    color:white;
    border-color:rgb(224, 202, 202);
    aspect-ratio: 1; /* Ensures squares remain 1:1 in ratio */
    overflow: hidden; /* Prevents content from expanding the box */
    
    
}
.grid-item img {
    object-fit: contain;
    max-width: 100%;
    
}

.chosen{
    color:rgb(191 47 46);
    background-color:rgb(142, 175, 227);
    border-color:rgb(224, 202, 202);

}


.writing{
    margin-top:10px;
    font-size: 20px;
    color:rgb(191 47 46);    
    font-family: "legitima", serif;
    font-weight: 500;
    font-style: normal;

}

.top-title{
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    position:absolute;
    font-size: 150px;
    text-align: left;
    padding-bottom:30px;
    top: 100px;
    left:60px;
    z-index:110;
    justify-content:center;
    color: rgb(142, 175, 227); 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgb(191 47 46);  
}

.bottom-title{
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    position:absolute;
    font-size: 150px;
    text-align: right;
    padding-bottom:30px;
    bottom: 10px;
    right:60px;
    z-index:110;
    color: rgb(142, 175, 227);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(191 47 46);  
}