:root {
	--spacing: 200px;
}

body {
	padding: var(--spacing);
	background-color: rgb(191 47 46);
}

.envelope-size {
    background-color: cyan;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Space between items */
    padding: 10px;
}

.envelope-size img {
    width: 100%; /* Make each image fill its grid cell */
}

.subtitle{
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color:rgb(214, 208, 169);
    background-color: rgba(192, 255, 217, 0);
    margin-bottom:20px;
    opacity:70%;
    filter: drop-shadow(16px 16px 20px #d1cab7)
}
.title{
    font-family: "legitima", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200px;
    text-align: center;
    justify-content: center;
    border: 3px solid rgba(255, 88, 88, 0);
    color:rgb(142, 175, 227);
    position: relative;
    background-color:rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(214, 208, 169);;
}

.draggable {
    width: 200px;
    filter: drop-shadow(16px 16px 20px #646158) sepia(100%) opacity(90%) brightness(90%);
}



.envelope-size {
    background-color: cyan;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Space between items */
    padding: 10px;
}

.envelope-size img {
    width: 100%; /* Make each image fill its grid cell */
}


.bodytext{
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border: 3px solid rgba(255, 88, 88, 0);
    color:rgb(180, 188, 201);
    background-color: #d1cab700;
}
.text1 {
    width: 400px;
    position:absolute;
    top:50px;
}
.text2 {
    width: 300px;
    position:absolute;
    bottom:100px;
    right:100px;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(22, 16, 0, 0.9) inset;
  }