body {
    background-color: rgba(255, 192, 203, 0);
    font-family: "legitima", serif;
    font-weight: 500;
    font-style: normal;
    font-size:30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(161, 194, 248);
  }
  header {
    text-align: center;
    padding: 20px;
    background-color: rgb(191 47 46);

  }
  section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #content-container {
    display: flex;
    justify-content: space-between; /* Ensure space between the sections */
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Optional: Add space between sections */
    margin: 20px;
  }

  #advertisement {
    width:50%;
    background-color: #445992;
    padding:30px;
  }

  #tickets {
    background-color: #1c1a3b;
    width:40%;
    padding:30px;
  }
 #congratulations {
    background-color: #e4f0f5;

  }
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  button {
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  button:hover {
    background-color: #ff6b81;
  }
  .ticket-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ticket-section input {
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .birthdaygirl img{
    width:300px;
    height:auto;
  }

  h1{
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    color: white;
  }
